.default {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  margin-left: 8px;
  border: none;
  font-weight: 800;
  color: var(--gray100);
  font-family: var(--nunito);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.04em;
  position: relative;
  margin: 3px;
  

  &:hover {
    cursor: pointer;
  }

  img {
    margin-left: 2px;
    background-color: yelow;
    width: 20px;
    height: 20px;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    width: 100%;
    border-top: 4px solid var(--black);
    border-left: 8px solid rgba(0,0,0,0);
    border-right: 8px solid rgba(0,0,0,0);
    height: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.small {
  height: 36px;
  font-size: 14px;
  padding: 0px 16px;
}

.medium {
  height: 40px;
  font-size: 16px;
  padding: 0px 24px;
} 

.primary {
  background: var(--primary60);
  &:hover {
    background: var(--primary50);
  }
}

.secondary {
  background: var(--white);
  border: 2px solid var(--black);
  &:hover {
    background: rgba(0, 0, 0, 0.16);
  }
  &:after {
    top: calc(100% + 2px);
    left: calc(0% - 2px);
    width: calc(100% + (2 * 2px));
  }
}

.highligh {
  background: var(--highligh60);
  &:hover {
    background: var(--highligh50);
  }
}