.mainSection {
  background: var(--gray10);
  position: relative;
  // height: 650px;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-left: 55vw solid transparent;
    border-top: 96px solid var(--white);
    width: 0;

    @media (min-width: 576px) {
      border-top: 300px solid var(--white);
    }

    @media (min-width: 768px) {
      border-top: 433px solid var(--white);
    }
  }

  .title {
    font-family: var(--darker);
    font-size: 40px;
    line-height: 100%;  
    margin-bottom: 24px;
    padding-top: 40px;
    
    @media (min-width: 576px) {
      margin-bottom: 40px;
      font-size: 56px;
      padding-top: 106px; 
    }

    .primaryColor {
      font-family: var(--darker);
      color: var(--primary60)
    }
  }

  .subtitle {
    font-family: var(--nunito);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 32px;

    @media (min-width: 576px) {
      font-size: 20px;
    }
  }
}

.secondSection {
  background: var(--primary100);
  position: relative;
  color: var(--white);
  display: block;
  min-height: 340px;
  padding-top: 48px;
  padding-bottom: 40px;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 48px solid var(--gray10);
    border-right: 48px solid transparent;
    width: 0;
  }

  @media (min-width: 576px) {
    padding-bottom: 80px;
    padding-top: 80px;
  }

  .title {
    font-family: var(--darker);
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 110%;
    margin-bottom: 16px;

    @media (min-width: 576px) {
      font-size: 24px;
      margin-bottom: 24px;
    }
  }

  .subtitle {
    font-family: var(--nunito);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }
}