.navbarContainer {
  height: 80px;
  display: flex;
  align-items: center;
  background-color: var(--white);
  justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  min-width: 360px;
  position: fixed;
  z-index: 2;

  border-bottom: 1px solid var(--gray30);
  padding: 0 108px;

  @media (max-width: 768px) {
    padding: 0 46px;
  }
  
  @media (max-width: 576px) {
    padding: 0 16px;
  }


  .logo {
    width: 236px;
    height: 55px;

    @media (max-width: 768px) {
      width: 182px;
      height: 34px;
    }

    @media (max-width: 576px) {
      width: 136px;
      height: 25px;
    }
  }

  .menuIcon {
    display: none;
    @media (max-width: 1156px) {
      display: block;
      font-size: 1.8rem;
      cursor: pointer;
      color: var(--primary60);
    }
  }

  .rightArea {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navMenu {
      display: grid;
      grid-template-columns: repeat(5, auto);
      list-style: none;
      text-align: center;

      @media (max-width: 1156px) {
        background: var(--white);
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        padding-top: 36px;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
      }

      .navItem {
        display: flex;
        align-items: center;
        height: 80px;

        @media (max-width: 1156px) {
          position: relative;
          margin: 0 auto;
          width: 95%;
          height: unset;
          background: var(--white);
          border-top: 1px solid var(--gray30);
          &:first-child {
            border-top: none;
          }
        }

        .navLinks {
          color: var(--gray100);
          text-decoration: none;
          padding: 0.5rem 1rem;
          &:hover {
            background-color: var(--gray10);
            transition: all 0.2s ease-out;
          }

          @media (max-width: 1156px) {
            text-align: left;
            padding-left: 2rem;
            width: 100%;
            display: table;

            &:hover {
              background-color: var(--gray10);
              border-radius: 0;
            }
          }
        }
      }

      .rightButtonsMobile {
        display: none;   
        @media (max-width: 1156px) {
          width: 100%;
          display: flex;
          margin: 0 auto;
          background: var(--gray30);
          justify-content: center;
          align-items: center;
          height: 88px;
          border-top: 1px solid var(--gray30);
          border-bottom: 1px solid var(--gray30);
        }
      }
    }

    .navMenuActive {
      @media (max-width: 1156px) {
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 2;
        margin-right: 0;
      }
    }

    .RightButtonsDesktop {
      display: flex;
      @media (max-width: 1156px) {
        display: none;
      }
    }
  }
}