@import '@/styles/mixins.scss';

.mainSection {
  @include sectionContainer;

  .primaryColor {
    color: var(--primary60);
    text-decoration: underline;
  }

  .title {
    font-family: var(--darker);
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 110%;
    
    margin-top: 40px;
    margin-bottom: 8px;
    
    @media (min-width: 576px) {
      font-size: 32px;
      margin-bottom: 24px;
    }

    @media (min-width: 768px) {
      margin-top: 120px;
    }
  }

  .desktopCards {
    display: none;
    @media (min-width: 576px) {
      display: contents;
    }
  }

  .mobileCards {
    display: contents;
    @media (min-width: 576px) {
      display: none;
    }
  }
}

.background {
  background: var(--white);
}
